body {
    background-color:#F3D0D7 ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
img {
    height: 300px;
}

.horizontal {
    width: px;
    ;
}

p {
    text-align: justify;
}

.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}